{% extends "base.html" %}
{% block title %}Agregar credencial{% endblock %}
{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li style="color: forestgreen" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <div class="container">
        <div class="album py-5 bg-light">
            <form method="POST" class="align-items-center" action="" id="form">
                <legend class="scheduler-border">Agregar Credencial</legend>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary"  onclick="blankSpaces();">Aceptar</button>
            </form>
            <p> Si autogeneras la contraseña su longitud será de 16 caracteres, mayusculas, minusculas,caracteres especiales.
            No te preocupes por recordarla, se guardará.</p>
            <button class="btn btn-warning" onClick="makePassword(16);"> Autogenerar Contraseña?</button>


            <h1><span toggle="#password-field" class="bi bi-eye-slash toggle-password"> </span></h1>
        </div>
    </div>

    </div>
    <script>
    $(document).on('click', '.toggle-password', function() {
    $(this).toggleClass("bi bi-eye bi-eye-slash");
    var input = $("#id_contraseña");
    input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
    });

    function makePassword(maxLengthPass) {
     var alfabeto = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789/*-.,()#$%&°¬|<>:";
     var generatedPassword = "";
     var tamaño = alfabeto.length;
     for (var i = 0; i < maxLengthPass; ++i) {
         generatedPassword = generatedPassword + alfabeto.charAt(Math.floor(Math.random() * tamaño));
     }
     document.getElementById("id_contraseña").value = generatedPassword;
 }

 function blankSpaces(){
     var str = document.getElementById(id_nombreCuenta);
     var tbLen = str.value.trim().length;

     if (tbLen < 4){
         alert("escribe un nombre válido");
     }
 }
</script>

{% endblock content %}