{% extends 'base.html' %}
{% block content%}
    <div class="text-center" style="width: 80%; margin: 0 auto">
        <h1>Restablecimiento de contraseña enviado.</h1>
        <h5>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</h5>
        <h6 style="width: 60%; margin: 0 auto">Si no recibe el correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</h6>
</div>

{% endblock%}